/* Reset default margin and padding */
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background: #333;
  background-size: cover;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

main {
  padding: 20px;
}

section {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 0px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

section p {
  color: #666;
  font-size: 16px;
}

footer {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
  color: #fff;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  bottom: 0;
}
.resized-image {
  width: auto; /* Set the desired width */
  height: auto; /* Maintain aspect ratio by setting height to auto */
  outline: 1px solid red;
}
.hero {
  height: 0px; /* Sesuaikan dengan tinggi gambar yang diblurkan */
  filter: blur(10px); /* Efek blur */
}
/* Tabel styling */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

