:root {
  --basic-border-radius: 0.25rem;
  --basic-transition: 0.25s;
  --basic-border-style: 0.1rem solid var(--color-4);
  --medium-border-radius: 0.5rem;
  --color-dark: #1a1a1a;
  --color-dark-75: #1a1a1abe;
  --color-dark-50: #1a1a1a80;
  --color-dark-25: #1a1a1a40;
  --color-dark-2: #222831;
  --color-dark-2-75: #222831be;
  --color-dark-2-50: #22283180;
  --color-dark-2-25: #22283140;
  --color-dark-3: #31363F;
  --color-dark-s: #76ABAE;
  --color-dark-s-75: #76ABAEbe;
  --color-dark-s-50: #76ABAE80;
  --color-dark-s-25: #76ABAE40;
  --color-1: #dd761c;
  --color-1-75: #dd761cbe;
  --color-1-50: #dd761c80;
  --color-1-25: #dd761c40;
  --color-2: #feb941;
  --color-2-75: #feb941be;
  --color-2-50: #feb94180;
  --color-2-25: #feb94140;
  --color-3: #fde49e;
  --color-3-75: #fde49ebe;
  --color-3-50: #fde49e80;
  --color-3-25: #fde49e40;
  --color-4: #f7f7f7;
  --color-4-75: #f7f7f7be;
  --color-4-50: #f7f7f780;
  --color-4-25: #f7f7f740;
  --color-s-1: #6dc5d1;
  --color-s-1-75: #6dc5d1be;
  --color-s-1-50: #6dc5d180;
  --color-s-1-25: #6dc5d140;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

*:not(table, thead, tbody, tr, th, td) {
  border: none;
}

body {
  background-color: var(--color-4);
  color: var(--color-dark);
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
  padding: 1rem 2rem;
}

body,
input,
textarea,
button {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: var(--color-s-1);
  color: var(--color-4);
  border-bottom: 0.125rem solid var(--color-3);
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  position: sticky;
}

header .container {
  display: grid;
  grid-template-columns: auto;
  row-gap: 1rem;
}

.top-menu {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.menu-wrapper {
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
}

.toggle-navbar,
.toggle-dark-mode {
  cursor: pointer;
  border: 0.1rem solid var(--color-4-75);
  border-radius: var(--basic-border-radius);
  width: 2rem;
}

.toggle-navbar {
  display: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: var(--basic-border-radius);
  background-color: var(--color-1);
  color: var(--color-4);
  transition: var(--basic-transition);
  font-weight: 500;
  font-size: 1rem;
}

.btn-outline {
  background-color: var(--color-dark-25);
  border: 0.1rem solid var(--color-4);
}

.btn:hover {
  background-color: hsl(28, 78%, 54%);
}

.btn-outline:hover {
  background-color: var(--color-dark-50);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  white-space: nowrap;
}

.logo img {
  height: 4rem;
}

.logo p,
.page-title {
  font-weight: 500;
  font-size: 1.25rem;
}

.logo p:not(.page-title) {
  border-right: 0.15rem solid var(--color-4);
  padding-right: 0.65rem;
}

.page-title {
  display: flex;
  align-items: center;
}

.navbar ul {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  place-items: center;
}

.navbar ul li a {
  transition: var(--basic-transition);
  text-decoration: underline;
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 0.5rem;
  text-decoration-color: transparent;
  white-space: nowrap;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  text-decoration-color: var(--color-2);
}

.navbar ul li a.logout-button:hover {
  text-decoration-color: transparent;
  color: var(--color-4-75);
}

.hero {
  background-image: url(assets/imgs/hero.webp);
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero .container {
  position: relative;
  height: 40rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  color: var(--color-4);
}

.hero .container h1 {
  font-size: 3rem;
  text-shadow: 0 0 1rem var(--color-1-25);
}

.hero .container p {
  text-shadow: 0 0 0.25rem var(--color-1-50);
  font-weight: 500;
}

.hero .hero-btn-wrapper {
  display: flex;
  gap: 0.5rem;
}

.hero .hero-btn-wrapper .btn {
  white-space: nowrap;
}

main .container {
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main .container h1,
main .container h2,
main .container h3 {
  font-weight: 600;
}

main .container h1 {
  margin-bottom: 1rem;
}

main .container p {
  text-align: justify;
}

main .container p,
main .container h2 {
  margin-bottom: 1rem;
}

.figure {
  width: 20rem;
  object-fit: cover;
  object-position: center;
  border-radius: var(--basic-border-radius);
}

main .container,
footer .container {
  padding: 4rem 2rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.card {
  background-color: var(--color-4);
  border-radius: 0.5rem;
  border: 0.25rem solid var(--color-dark-25);
  padding: 1rem;
  height: fit-content;
  transition: var(--basic-transition);
  cursor: default;
}

.card .profile-img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.card h2,
.card h3 {
  font-weight: 600;
}

.icon-wrapper {
  display: flex;
  gap: 1rem;
}

.icon-wrapper img {
  width: 3rem;
  height: 4rem;
  transition: var(--basic-transition);
  object-fit: contain;
  filter: grayscale(100%);
}

.card:hover {
  border-color: var(--color-dark-50);
}

.card:hover .icon-wrapper img {
  filter: grayscale(0);
}

.card .btn,
.contact-text .btn {
  padding: 0.25rem 1rem;
}

.card-menu .card {
  padding: 0;
  overflow: hidden;
}

.card-menu .card-content {
  padding: 1rem;
}

.card-menu .card img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.list table {
  width: 100%;
}

.food-list table th {
  background-color: var(--color-2);
}

.drink-list table th {
  background-color: var(--color-3);
}

table {
  border-collapse: collapse;
  border-radius: var(--basic-border-radius);
  border-width: 0.125rem;
}

table,
th,
td {
  border-color: var(--color-dark-75);
  border-style: solid;
}

th {
  font-weight: 600;
}

th,
td {
  padding: 0.5rem;
}

footer {
  text-align: center;
  background-color: var(--color-s-1);
  color: var(--color-4);
}

.contact {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.contact-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align-last: center;
}

.contact-form {
  background-color: var(--color-3-75);
  padding: 2rem;
  border-radius: var(--medium-border-radius);
  border: 0.25rem solid var(--color-2-25);
}

.input-group-wrapper {
  display: grid;
  row-gap: 1rem;
}

.contact-form button,
.input-group input,
.input-group textarea {
  width: 100%;
}

.input-group input,
.input-group textarea {
  padding: 0.5rem 1rem;
  border-radius: var(--basic-border-radius);
  box-sizing: border-box;
}

.input-group textarea {
  resize: vertical;
}

.dark {
  background-color: var(--color-dark-3);
  color: var(--color-4);
}

.dark header {
  background-color: var(--color-dark-2);
  border-color: transparent;
}

.dark footer {
  background-color: var(--color-dark-2);
}

.dark .hero {
  background-image: url(assets/imgs/hero-dark.webp);
}

.dark .hero .container h1 {
  text-shadow: 0 0 .5rem var(--color-dark-25);
}

.dark .hero .container p {
  text-shadow: 0 0 0.25rem var(--color-dark-50);
}

.dark .btn:not(.btn-outline) {
  background-color: var(--color-dark-s);
}

.dark .btn:not(.btn-outline):hover {
  background-color: hsl(180, 100%, 30%);
}

.dark .card {
  background-color: var(--color-dark-2);
  border-color: var(--color-dark-s-25);
}

.dark .card:hover {
  border-color: var(--color-dark-s-50);
}

.dark .contact-form {
  background-color: var(--color-dark-2-25);
  border-color: var(--color-dark-s-25);
}

.dark .navbar ul li a:hover,
.dark .navbar ul li a.active {
  text-decoration-color: var(--color-dark-s);
}

.dark table,
.dark th,
.dark td {
  border-color: var(--color-4);
}

.dark .food-list table th {
  background-color: var(--color-dark-s-50);
}

.dark .drink-list table th {
  background-color: var(--color-dark-s-25);
}

@media screen and (max-width: 859px) {
  .logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .navbar {
    display: none;
    opacity: 0;
  }

  .navbar.active {
    display: block;
    opacity: 1;
  }

  .toggle-navbar {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .logo p:not(.page-title) {
    display: none;
  }

  .hero .hero-btn-wrapper {
    flex-direction: column;
  }
}