:root {
  --basic-border-radius: 0.25rem;
  --basic-transition: 0.3s;
  --color-1: #242423;
  --color-2: #2c3126;
  --color-3: #343e28;
  --color-4: #868a7c;
  --color-5: #b5a998;
  --color-6: #e3c8b4;
  --color-7: #efddd1;
  --color-8: #fffef8;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

body {
  background-color: var(--color-8);
  color: var(--color-1);
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
}

body,
input,
button {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: red;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}

.logo img {
  height: 4rem;
}

.logo p {
  font-weight: 500;
  font-size: 1.25rem;
}
