:root {
  --basic-border-radius: 0.25rem;
  --basic-transition: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

body {
  height: 100dvh;
  background-image: linear-gradient(107.7deg, #ebe62c8c 8.4%, #fc980f 90.3%);
  display: grid;
  place-content: center;
}

body,
input,
button {
  font-family: "Poppins", sans-serif;
}

.btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: var(--basic-border-radius);
  color: #fff;
  font-weight: 600;
  transition: var(--basic-transition);
  background-color: #fc980f;
}

.btn:hover {
  background-color: hsl(35, 88%, 42%);
}

.header-text {
  font-weight: 500;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 3rem 3rem 6rem hsla(25, 88%, 42%, 0.5);
  margin-inline: 2rem;
}

.hero-img {
  width: 35rem;
  height: 35rem;
  object-fit: cover;
  object-position: bottom;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  row-gap: 1rem;
  padding: 2rem;
}

.form .input-group {
  display: grid;
  row-gap: 1rem;
}

.form .input-group > * {
  outline: 0.25rem solid transparent;
  transition: var(--basic-transition);
}

.form .input-group > *:focus {
  outline-color: #fc980f80;
}

.form input {
  padding: 0.5rem 1rem;
  border-radius: var(--basic-border-radius);
  background-color: #f5f5f5;
}

.form p a {
  color: #c95b0d;
  font-weight: 500;
  transition: var(--basic-transition);
  text-decoration-color: transparent;
  border-radius: var(--basic-border-radius);
  outline: 0.125rem solid transparent;
}

.form p a:hover {
  text-decoration-color: #c95b0d;
}

.form p a:focus {
  outline-color: #c95b0d80;
}

@media screen and (max-width: 978px) {
  .container {
    grid-template-columns: 1fr;
    margin-inline: 1rem;
  }

  .hero-img {
    width: 100%;
    height: 15rem;
  }

  .form {
    padding: 1rem;
  }
}

@media screen and (max-width: 354px) {
  .container {
    margin-inline: 0.5rem;
    box-shadow: 1rem 1rem 3rem hsla(25, 88%, 42%, 0.5);
  }

  .form {
    row-gap: 0.5rem;
    padding-block: 2rem;
  }

  .form input {
    padding: 0.25rem 0.5rem;
  }

  .btn {
    padding: 0.25rem 0.5rem;
  }

  .hero-img {
    display: none;
  }
}
